.vx-center-left{
  &-leave-to{
    transition: $vx-nav-time all ease;
  }
  &-enter-to{
    transition: $vx-nav-time all ease $vx-nav-time-delay;
  }

  &-leave-active{
    transform: translateX(-100%);
  }
  &-leave-to{
    transform: translateX(0%);
  }
  &-enter-active{
    transform: translateX(0%);
  }
  &-enter-to{
    transform: translateX(-100%);
  }
}

.vx-center-right{
  &-leave-to{
    transition: $vx-nav-time all ease $vx-nav-time-delay;
  }
  &-enter-to{
    transition: $vx-nav-time all ease;
  }

  &-enter-active{
    transform: translateX(-100%);
  }
  &-enter-to{
    transform: translateX(0%);
  }
  &-leave-active{
    transform: translateX(0%);
  }
  &-leave-to{
    transform: translateX(-100%);
  }
}

.vx-only-show{
  &-leave-active{
    opacity: 1;
  }
  &-enter-active{
    opacity: 0;
  }
  &-leave-to{
    opacity: 0;
    transition: $vx-nav-time all ease-out;
  }
  &-enter-to{
    opacity: 1;
    transition: $vx-nav-time all ease-in $vx-nav-time-delay;
  }
}

.vx-zoom{
  &-leave-to{
    transition: $vx-tab-time all ease;
  }
  &-enter-to{
    transition: $vx-tab-time all ease $vx-tab-time-delay;
  }

  &-leave-active{
    opacity: 1;
    transform: scale(1);
    z-index: 1;
  }
  &-leave-to{
    opacity: 0;
    transform: scale(.7);
  }
  &-enter-active{
    z-index: 2;
    opacity: .3;
    transform: scale(.7);
  }
  &-enter-to{
    opacity: 1;
    transform: scale(1);
  }
}

.vx-swap{
  &-left-enter, &-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
  &-left-leave-active, &-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
  }
}

.shake-animation{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translateX(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}

.blocks {
  &-enter{
    transform: translateY(-15%);
  }
  &-leave-to{
    opacity: 0;
  }
  &-enter-active{
    transition: .2s all ease;
  }
  &-enter-to{
    transform: translateY(0);
  }
}

.fade {
  &-enter, &-leave-to {
    opacity: 0;
  }
  &-enter-to, &-leave {
    opacity: 1;
  }
  &-enter-active, &-leave-active {
    transition: opacity .2s;
  }
}