$vx-nav-time: .4s;
$vx-nav-time-delay: .35s;

$vx-tab-time: .16s;
$vx-tab-time-delay: .05s;

@import './animation';

$grey: #181F26;
$gray-scale-100: #C1CFDB;
$grey-scale-200: #8296AA;
$grey-scale-300: #4A5A6A;
$grey-scale-400: #313D49;
$grey-scale-500: #212A33;
$grey-scale-700: #010203;


$blue: #1890FF;
$blue-scale-200: #3193f8;
$blue-scale-300: #3592FD;
$blue-scale-700: #183651;
$secondary-yellow: #FACD23;
$blue-opacity-2: rgba(24, 144, 255, .2);

$red: #FF4D4F;
$red-opacity-2: rgba(255, 77, 79, .2);

$green: #73D13D;

$su-level-1: #D5F1C5;
$su-level-2: red;
$su-level-3: red;
$su-level-4: #F2CBF8;



@function rem($value) {
  @return #{($value / 16)}rem;
}

$colors:
  'level1' #D5F1C5,
  'level2' #FEF0BD,
  'level3' #BAE7FF,
  'level4' #F2CBF8;

@each $name, $color in $colors{
  .#{$name} {
    background-color: $color;
  }
}
